{{ with or (.Site.Params.footer.hide) (.Params.hideFooter) }}
<!-- No footer here! -->
{{ else }}
<footer>
  <div class="footer-content">
    <div>
      {{ if not .Site.Params.footer.hideCopyright }}
        <p>Copyright &copy; {{ now.Year }} {{ .Site.Params.name }}</p>
      {{ end }}
      {{ if not .Site.Params.footer.hidePoweredBy }}
        <p>
          Powered by 
          <a href="https://github.com/micheledinelli/a-theme"
            >micheledinelli/a-theme</a
          >
        </p>
      {{ end }}
    </div>
    <div class="social">
      {{ if not .Site.Params.footer.hideSocial }}
        {{ $socials := dict
          "github" (dict "url" .Site.Params.social.github)
          "linkedin" (dict "url" .Site.Params.social.linkedin)
          "x" (dict "url" .Site.Params.social.x)
        }}
        {{ range $key, $val := $socials }}
          {{ with $val.url }}
          {{ $icon := resources.Get (printf "icons/%s.svg" $key) }}
            {{ if $icon }}
              <a href="{{ $val.url }}" target="_blank" class="icon-link muted">
                <span class="icon">
                  {{ $icon.Content | safeHTML }}
                </span>
              </a>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div>
    {{ with .Site.Params.footer.hideBuild }}
    {{else}}
    {{ partial "build.html" . }}
    {{ end }}
  </div>
</footer>
{{ end }}
