html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.5;
  margin: 1rem;
  max-width: 100%;
}

header {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--text-color);
  margin-top: 1rem;
}

a {
  color: blue;
  text-decoration: none;
}
