{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  <div class="section-list">
    {{ range .Pages }}
      <div class="section-list-item">
        <div class="section-list-item-meta">
          <div>
            Last modified:
          </div>
          <time>
            {{ with .Lastmod }}
              {{ .Format "2006-01-02 15:04:05 MST" }}
            {{ end }}
          </time>
        </div>
        <div class="section-list-item-content">
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          <div>{{ .Summary }}</div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
